<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxf.cloud.alibaba.seata.mapper.StorageMapper">
    <update id="decrement">
        UPDATE `storage`
        SET `count` = `count` - #{num}
        WHERE productId = #{productId}
    </update>
</mapper>
